[
    {
        "text": "Sorry, do you want to continue and search for a testing site?",
        "buttons": [
            {
                "payload": "/affirm",
                "title": "Yes"
            },
            {
                "payload": "/done",
                "title": "No I will come back later"
            },
            {
                "payload": "/ask_question",
                "title": "No but I have other questions"
            }
        ]
    }
]