[
    {
        "text": "I can help you find testing sites near you"
    },
    {
        "text": "Depending on the area where you live, or the testing site, you may need to have a referral from your doctor or a nurse in order to get tested"
    },
    {
        "text": "You can get a referral by either: \n- Talking to your doctor, if that’s possible, or \n- Calling 811 or 1-877-644-4545 and discussing your symptoms with a nurse"
    },
    {
        "text": "I will provide information about referrals, as well as other details, such as appointment policy, for each available testing site in your area"
    },
    {
        "text": "Do you want to continue and search for a testing site?",
        "buttons": [
            {
                "payload": "/continue",
                "title": "Yes continue"
            },
            {
                "payload": "/later",
                "title": "No I will come back later"
            },
            {
                "payload": "/ask_question",
                "title": "No but I have other questions"
            }
        ]
    }
]