{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "I’m sorry, I’m not able to find any testing sites at the moment"
    },
    {
        "text": "Please try again later"
    },
    {{ bot.anything_else(True,False) }}
]