{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "I’m sorry, this is still not a valid postal code. I will not be able to search for testing sites"
    },
    {{ bot.anything_else(True,False) }}
]