[
    {
        "text": "I found 7 testing sites in your area"
    },
    {
        "text": "For each testing site, you can get detailed contact information, directions and opening hours"
    },
    {
        "text": "You will need to contact the testing site directly for more information or to make an appointment to get tested"
    },
    {},
    {
        "text": "What else may I help you with?",
        "buttons": [
            {
                "payload": "/get_assessment",
                "title": "Assess my symptoms"
            },
            {
                "payload": "/ask_question",
                "title": "I have other questions"
            },
            {
                "payload": "/done",
                "title": "I’m done"
            }
        ]
    }
]