{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "I found 7 testing sites in your area"
    },
    {
        "text": "For each testing site, you can get detailed contact information, directions and opening hours"
    },
    {
        "text": "You will need to contact the testing site directly for more information or to make an appointment to get tested"
    },
    {},
    {{ bot.anything_else(True,False) }}
]