[
    {
        "text": "I found 1 testing site in your area"
    },
    {},
    {
        "text": "What else may I help you with?",
        "buttons": [
            {
                "payload": "/get_assessment",
                "title": "Assess my symptoms"
            },
            {
                "payload": "/ask_question",
                "title": "I have other questions"
            },
            {
                "payload": "/done",
                "title": "I’m done"
            }
        ]
    }
]