[
    {
        "text": "What would you like to do next?",
        "buttons": [
          {"title":"Ask another question", "payload":"/ask_question"},
          {"title":"Get self-assessment", "payload":"/get_assessment"},
          {"title":"I'm done", "payload":"/done"}
        ]
    }
]
