[
    {
        "text": "I can help answer your questions about Covid-19, on many different topics"
    },
    {
        "text": "Please note that at the moment, I can provide answers to a limited number of questions, but I'm constantly improving and learning from the questions you ask me"
    },
    {
        "text": "Here are some examples of questions you can ask:\n- sample question 1\n- sample question 2"
    },
    {
        "text": "Please write your question about Covid-19:"
    }
]
