[
    {
        "text": "I’m sorry, I’m not able to get an answer to your question at this time"
    },
    {
        "text": "Do you want me to help you assess your symptoms?",
        "buttons": [
          {"title":"Yes", "payload":"/get_assessment"},
          {"title":"No", "payload":"/deny"}
        ]
    }
]
