[
    {
        "text": "I’m sorry, I’m not able to get an answer to your question at this time"
    },
    {
        "text": "Please try again later if you have questions"
    },
    {
        "text": "Thanks and take care of yourself!"
    }
]
