[
    {
        "text": "It seems like you need help with your symptoms"
    },
    {
        "text": "Do you want me to assess your symptoms?",
        "buttons": [
          {"title":"Yes", "payload":"/get_assessment"},
          {"title":"No I'm done", "payload":"/done"}
        ]
    }
]