[
    {
        "text": "It seems that to answer your question, I would need to assess your symptoms. However, we have already done that"
    },
    {
        "text": "Would you like to ask another question?",
        "buttons": [
          {"title":"Yes", "payload":"/ask_question"},
          {"title":"No I'm done", "payload":"/done"}
        ]
    }
]