{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "I’m sorry, I can’t answer your question"
    },
    {
        "text": "Would you like to ask another question?",
        "buttons": [
          {"title":"Yes", "payload":"/ask_question"},
          {"title":"No get self-assessment", "payload":"/get_assessment"},
          {"title":"No I'm done", "payload":"/done"}
        ]
    }
]