[
    {
        "text": "Thanks, Patrick."
    },
    {
        "text": "I will contact you by text message every day to check in on you."
    },
    {
        "text": "So that I can reach you, what is your phone number?"
    }
]
