{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "OK, I'm taking note that you have a fever today"
    },
    {
        "text": "You can take acetaminophen (Tylenol) to relieve fever or aches and pain"
    },
    {
        "text": "But you should *avoid taking ibuprofen* (such as Advil or Motrin), as it might have unwanted effects"
    },
    {
        "text": "Do you still have a cough?"
    }
]