{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "That's good, I'm taking note that you don't have a fever today"
    },
    {
        "text": "Do you have a cough?",
        {{ bot.confirmation_buttons() }}
    }
]