{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "OK, it seems that you don’t have symptoms that require immediate medical assistance. Let’s continue your assessment"
    },
    {
        "text": "Do you have a cough or a sore throat?",
        {{ bot.confirmation_buttons() }}
    }
]
