{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "It looks like you’re not experiencing any significant Covid-19 symptoms"
    },
    {
        "text": "When did you experience your first symptoms?",
        "buttons": [
            {
                "payload": "/more",
                "title": "More than 14 days ago"
            },
            {
                "payload": "/less",
                "title": "Less than 14 days ago"
            }
        ]
    }
]