{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "In this case, you should keep self-isolating until you have been symptom-free for at least 7 days"
    },
    {{ bot.anything_else(False,False) }}
]