{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "It looks like you’re not experiencing any significant Covid-19 symptoms"
    },
    {
        "text": "Did you experience your first symptoms more than 14 days ago?"
    }
]