{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Now, do you have any, or a combination of, the following: mild to moderate shortness of breath, inability to lie down because of difficulty breathing, chronic health conditions that you are having difficulty managing because of difficulty breathing, or sudden loss of taste or smell?"
    }
]
