{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "OK, you should keep complying with social distancing rules, and if you leave your home, I recommend that you wear a mask"
    },
    {{ bot.anything_else(False,False) }}
]