{% import 'bot/macros.jinja' as bot %}

    {
        "text": "If you'd like, you can enroll in our daily check-in."
    },
    {
        "text": "If you do, I will contact you everyday to see how you’re doing, monitor your symptoms, evaluate your general health, and provide recommendations to help take care of yourself and relieve your symptoms."
    },
    {
        "text": "The daily check-in offers you an updated assessment of your condition everyday, so that you receive the most relevant guidance and recommendations for your condition."
    },
    {
        "text": "Would you like me to check-in with you daily to help monitor your symptoms?",
        {{ bot.confirmation_buttons() }}
    }
