[
    {
        "text": "Have you recently been in close contact with someone who has Covid-19?\nBy close contact I mean any of the following:\n- Providing care for infected patients, visiting, or staying with them in the same close environment\n- Working in close proximity with an infected person\n- Living in the same household as an infected person",
        "buttons": [
            {
                "payload": "/affirm{\"contact\": true}",
                "title": "Yes"
            },
            {
                "payload": "/deny{\"contact\": false}",
                "title": "No"
            }
        ]
    }
]
