[
    {
        "text": "In which province or territory do you currently reside?",
        "buttons": [
            {
                "payload": "/inform{\"province\": \"bc\"}",
                "title": "B.C."
            },
            {
                "payload": "/inform{\"province\": \"ab\"}",
                "title": "Alta."
            },
            {
                "payload": "/inform{\"province\": \"sk\"}",
                "title": "Sask."
            },
            {
                "payload": "/inform{\"province\": \"mb\"}",
                "title": "Man."
            },
            {
                "payload": "/inform{\"province\": \"on\"}",
                "title": "Ont."
            },
            {
                "payload": "/inform{\"province\": \"qc\"}",
                "title": "Que."
            },
            {
                "payload": "/inform{\"province\": \"nb\"}",
                "title": "N.B."
            },
            {
                "payload": "/inform{\"province\": \"ns\"}",
                "title": "N.S."
            },
            {
                "payload": "/inform{\"province\": \"pe\"}",
                "title": "P.E.I."
            },
            {
                "payload": "/inform{\"province\": \"nl\"}",
                "title": "N.L."
            },
            {
                "payload": "/inform{\"province\": \"yu\"}",
                "title": "Y.T."
            },
            {
                "payload": "/inform{\"province\": \"nt\"}",
                "title": "N.W.T."
            },
            {
                "payload": "/inform{\"province\": \"nu\"}",
                "title": "Nvt."
            }
        ]
    }
]
