{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Have you traveled in any country outside of Canada within the last 14 days (including passing through an airport)?",
        {{ bot.confirmation_buttons() }}
    }
]
