[
    {
        "text": "J'ai besoin de savoir si vous avez été récemment en contact étroit avec une personne atteinte de la Covid-19.\nVoici quelques exemples:\n- Fournir des soins à la personne malade sans équipement de protection adéquat\n- Vivre ou travailler avec la personne malade pendant qu'elle est contagieuse\n- Être en contact direct avec des fluides corporels infectieux de la personne malade (avoir été, par exemple, à proximité lorsque la personne malade a toussé ou éternué)"
    },
    {
        "text": "Avez-vous été récemment en contact étroit avec une personne atteinte?"
    }
]
