[
    {
        "text": "Dans ce cas, vous n'avez probablement pas la Covid-19."
    },
    {
        "text": "Assurez-vous de suivre les consignes de distanciation sociale et ne sortez pas de chez vous à moins que ce soit vraiment nécessaire."
    },
    {
        "text": "Si vous développez des symptômes, ou si vous entrez en contact avec une personne atteinte de la Covid-19, veuillez communiquer avec moi pour obtenir une évaluation et des recommandations."
    },
    {
        "text": "Si vous êtes anxieux au sujet de la Covid-19 ou de votre propre bien-être, consultez Espace mieux-être Canada [https://ca.portal.gs/?lang=fr-ca]"
    },
    {
        "text": "Vous pouvez aussi consulter [votre trousse d'information personnalisée](https://covid19.dialogue.co/#/info?id=ca-qc,common)."
    },
    {
        "text": "Puis-je faire autre chose pour vous aider?",
        "buttons": [
            {
                "payload": "/ask_question",
                "title": "J'ai d'autres questions"
            },
            {
                "payload": "/done",
                "title": "Non merci"
            }
        ]
    }
]
