[
    {
        "text": "Ensuite, j’aimerais savoir où vous vivez, afin de vous fournir de l’information adaptée à votre région"
    },
    {
        "text": "Dans quelle province ou quel territoire résidez-vous présentement?"
    }
]
