[
    {
        "text": "Dans quelle province ou quel territoire résidez-vous présentement?",
        "buttons": [
            {
                "payload": "/inform{\"province\": \"bc\"}",
                "title": "C.B."
            },
            {
                "payload": "/inform{\"province\": \"ab\"}",
                "title": "Alb."
            },
            {
                "payload": "/inform{\"province\": \"sk\"}",
                "title": "Sask."
            },
            {
                "payload": "/inform{\"province\": \"mb\"}",
                "title": "Man."
            },
            {
                "payload": "/inform{\"province\": \"on\"}",
                "title": "Ont."
            },
            {
                "payload": "/inform{\"province\": \"qc\"}",
                "title": "Qc"
            },
            {
                "payload": "/inform{\"province\": \"nb\"}",
                "title": "N.-B."
            },
            {
                "payload": "/inform{\"province\": \"ns\"}",
                "title": "N.-É."
            },
            {
                "payload": "/inform{\"province\": \"pe\"}",
                "title": "Î.-P.-É."
            },
            {
                "payload": "/inform{\"province\": \"nl\"}",
                "title": "T.-N.-L."
            },
            {
                "payload": "/inform{\"province\": \"yu\"}",
                "title": "Yn"
            },
            {
                "payload": "/inform{\"province\": \"nt\"}",
                "title": "T.N.-O."
            },
            {
                "payload": "/inform{\"province\": \"nu\"}",
                "title": "Nt"
            }
        ]
    }
]
