{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Entendu, je vais évaluer vos symptômes afin de vous fournir des recommandations adaptées à votre situation. Allons-y!"
    },
    {
        "text": "Premièrement, avez-vous un ou plusieurs des symptômes suivants:\ndes difficultés respiratoires graves, de fortes douleurs à la poitrine, beaucoup de mal à vous réveiller, de la confusion ou des pertes de conscience?"
    }
]
