{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Très bien, il semble que vous n’avez pas de symptômes qui requièrent une assistance médicale immédiate. Continuons votre évaluation"
    },
    {
        "text": "Est-ce que vous toussez ou avez mal à la gorge?"
    }
]
