{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Avez-vous un ou plusieurs des symptômes suivants:\n- Essoufflement léger à modéré\n- Incapacité à vous allonger en raison de difficultés respiratoires\n- Problèmes de santé chroniques que vous avez du mal à gérer en raison de difficultés respiratoires\n- Perte soudaine du goût ou de l'odorat",
        {{ bot.confirmation_buttons() }}
    }
]
