{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Avez-vous un ou plusieurs des symptômes suivants: de l'essoufflement léger à modéré, une incapacité à vous allonger en raison de difficultés respiratoires, des problèmes de santé chroniques que vous avez du mal à gérer en raison de difficultés respiratoires, ou encore une perte soudaine du goût ou de l'odorat?"
    }
]
