{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Entendu, je vais évaluer vos symptômes afin de vous fournir des recommandations adaptées à votre situation. Allons-y!"
    },
    {
        "text": "Premièrement, avez-vous un ou plusieurs des symptômes suivants:\n- Difficultés respiratoires graves\n- De fortes douleurs à la poitrine\n- Beaucoup de mal à se réveiller\n- Confusion\n- Perte de conscience",
        {{ bot.confirmation_buttons() }}
    }
]
