{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Avez-vous voyagé à l'extérieur du Canada durant les 14 derniers jours (Ceci inclut le passage dans un aéroport étranger)?",
        {{ bot.confirmation_buttons() }}
    }
]
