[
    {
        "text": "Bonjour, je m'appelle Chloé, votre assistante médicale virtuelle. Je peux vous aider à évaluer vos symptômes et vous donner de l'information en lien avec la Covid-19"
    },
    {
        "text": "Que puis-je faire pour vous aujourd'hui?",
        "buttons": [
            {
                "payload": "/checkin_return",
                "title": "Je veux réévaluer mes symptômes"
            },
            {
                "payload": "/get_assessment",
                "title": "J'ai des symptômes et je crois avoir la Covid-19"
            },
            {
                "payload": "/tested_positive",
                "title": "J'ai eu un résultat positif au test de Covid-19"
            },
            {
                "payload": "/ask_question",
                "title": "J'ai des questions à propos de la Covid-19"
            }
        ]
    }
]
