[
    {
        "text": "OK, since you still have some symptoms, I recommend that you stay isolated and that you continue to rest"
    },
    {
        "text": "I will check-in on you tomorrow unless you wish to stop the daily check-in. Is that ok?",
        "buttons": [
            {
                "payload": "/continue",
                "title": "Yes continue check-in"
            },
            {
                "payload": "/cancel",
                "title": "No cancel daily check-in"
            }
        ]
    }
]