[
    {
        "text": "Great, would you say that you are symptom-free, or do you still feel a little sick?",
        "buttons": [
            {
                "payload": "/symptom_free",
                "title": "Symptom free"
            },
            {
                "payload": "/still_sick",
                "title": "Still sick"
            }
        ]
    }
]