[
    {
        "text": "Sorry about that. If this gets worse, I recommend that you contact your doctor or call 811 to discuss your symptoms"
    },
    {
        "text": "Since you are still sick, you should stay isolated, rest, and continue monitoring your symptoms"
    },
    {
        "text": "I will check-in on you tomorrow unless you wish to stop the daily check-in. Is that ok?"
    }
]