{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Since you have some symptoms, you must self-isolate for at least 14 days. It is essential that you follow this directive"
    },
    {
        "text": "Are you the only person in your household?",
        {{ bot.confirmation_buttons() }}
    }
]
