{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "In this case, you should stay in a separate room and use a different bathroom from others, if possible"
    },
    {
        "text": "If it’s not possible, ensure you stay at least 2 meters, or six feet, away from others in your home at all times, wash your hands often, and make sure every surface and object are cleaned after use"
    },
    {
        "text": "You should also wear a mask every time you are in the same room as others"
    },
    {
        "text": "For more information about self-isolation, and to learn what you can do to protect others, visit [canada.ca](https://www.canada.ca/en/public-health/services/publications/diseases-conditions/covid-19-how-to-isolate-at-home.html)"
    },
    {
        "text": "Do you have help from someone to run errands for you (a parent, spouse, a friend or neighbour), like going to the grocery store or get medications?"
    }
]