[
    {
        "text": "OK, is there anything else I can help you with?",
        "buttons": [
            {
                "payload": "/deny",
                "title": "No thanks"
            },
            {
                "payload": "/navigate_test_locations",
                "title": "I’d like to know where to get tested"
            }
        ]
    }
]