[
    {
        "text": "At any time, you can visit [our website](https://covid19.dialogue.co/) for information, or to get a self-assessment"
    },
    {
        "text": "Thanks and take care of yourself!"
    }
]