{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "I’m sorry but this link does not seem to be valid"
    },
    {
        "text": "Please try again and make sure, if you copy the link in your browser, that you copy the exact same thing"
    },
    {
        "text": "If that doesn’t work, would you like to assess your symptoms?",
        {{ bot.confirmation_buttons() }}
    }
]