[
    {
        "text": "These symptoms require immediate response, so please call 911 immediately, or go to your nearest emergency department"
    },
    {
        "text": "If possible, make sure you bring all medications you are currently taking"
    },
    {
        "text": "If you don’t know which hospital is closest to you, 911 personnel will be able to direct you, and send an ambulance if you can’t get there by your own means"
    },
    {
        "text": "Most importantly, do not wait, as your symptoms need immediate medical attention"
    }
]
