{% macro buttons(buttons) -%}
"buttons": [
  {% for button in buttons %}
    {
        "payload": "{{button.payload}}",
        "title": "{{button.title}}"
    }{% if not loop.last %},{% endif %}
  {% endfor %}
]
{%- endmacro %}

{% macro confirmation_buttons() -%}
  {{buttons([
    {"title":"Yes", "payload":"/affirm"},
    {"title":"No", "payload":"/deny"}
  ])}}
{%- endmacro %}
