{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "In this case, you probably don’t have Covid-19"
    },
    {
        "text": "Please continue to comply with social distancing recommendations, or wear a mask when it's not possible to do so"
    },
    {
        "text": "If you develop any symptoms in the future, or if you get in contact with someone who has the Covid-19, please check-in with me for an assessment and recommendations"
    },
    {
        "text": "If you feel anxious about Covid-19 or your own wellbeing, please visit [Wellness Together Canada](https://ca.portal.gs/)"
    },
    {
        "text": "You can consult [your personal information package](https://covid19.dialogue.co/#/info?id=ca-qc,common)"
    },
    {{ bot.anything_else(False,False) }}
]
