[
    {
        "text": "In this case, you probably don’t have Covid-19."
    },
    {
        "text": "Please ensure that you practice social distancing and that you don’t leave your home unless you really need to."
    },
    {
        "text": "If you develop any symptoms in the future, or if you get in contact with someone who has the Covid-19, please check-in with me for an assessment and recommendations."
    },
    {
        "text": "If you feel anxious about Covid-19 or your own wellbeing, please visit [Wellness Together Canada](https://ca.portal.gs/)"
    },
    {
        "text": "You can consult [your personal information package](https://covid19.dialogue.co/#/info?id=ca-qc,common)."
    },
    {
        "text": "Is there anything else I can help you with?",
        "buttons": [
            {
                "payload": "/ask_question",
                "title": "I have other questions"
            },
            {
                "payload": "/done",
                "title": "No thanks"
            }
        ]
    }
]
