[
    {
        "text": "In which province or territory do you currently reside?",
        "buttons": [
            {
                "payload": "/inform{\"province\": \"bc\"}",
                "title": "BC"
            },
            {
                "payload": "/inform{\"province\": \"ab\"}",
                "title": "AB"
            },
            {
                "payload": "/inform{\"province\": \"sk\"}",
                "title": "SK"
            },
            {
                "payload": "/inform{\"province\": \"mb\"}",
                "title": "MB"
            },
            {
                "payload": "/inform{\"province\": \"on\"}",
                "title": "ON"
            },
            {
                "payload": "/inform{\"province\": \"qc\"}",
                "title": "QC"
            },
            {
                "payload": "/inform{\"province\": \"nb\"}",
                "title": "NB"
            },
            {
                "payload": "/inform{\"province\": \"ns\"}",
                "title": "NS"
            },
            {
                "payload": "/inform{\"province\": \"pe\"}",
                "title": "PE"
            },
            {
                "payload": "/inform{\"province\": \"nl\"}",
                "title": "NL"
            },
            {
                "payload": "/inform{\"province\": \"yu\"}",
                "title": "YU"
            },
            {
                "payload": "/inform{\"province\": \"nt\"}",
                "title": "NT"
            },
            {
                "payload": "/inform{\"province\": \"nu\"}",
                "title": "NU"
            }
        ]
    }
]
