[
    {
        "text": "Next, I need to know where you live, so that I can give you information relevant for your area"
    },
    {
        "text": "In which province or territory do you currently reside?"
    }
]
