{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Please make sure that you stay home and self-isolate for at least 14 days"
    },
    {
        "text": "Take your temperature regularly and monitor your symptoms for any changes"
    },
    {
        "text": "At any time, you can check-in with me to monitor your symptoms"
    },
    {
        "text": "You can consult [your personal information package](https://covid19.dialogue.co/#/info?id=ca-qc,elevated-medical-risk)"
    },
    {{ bot.anything_else(False,True) }}
]
