{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "OK, let’s assess your symptoms to see how you’re doing and which steps you should take. Let’s get started!"
    },
    {
        "text": "First, are you experiencing any, or a combination of, the following symptoms: severe difficulty breathing, severe chest pain, having a hard time waking up, feeling confused or losing consciousness?"
    }
]
