{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "OK, let’s assess your symptoms to see how you’re doing and which steps you should take. Let’s get started!"
    },
    {
        "text": "First, are you experiencing any of the following symptoms:\n- Severe difficulty breathing\n- Severe chest pain\n- Having a hard time waking up\n- Feeling confused\n- Losing consciousness",
        {{ bot.confirmation_buttons() }}
    }
]
