[
    {
        "text": "Hi, I′m Chloe, your medical assistant, I′m here to help you assess your symptoms and provide information about Covid-19"
    },
    {
        "text": "How may I help you today?",
        "buttons": [
            {
                "payload": "/checkin_return",
                "title": "I want to reassess my symptoms"
            },
            {
                "payload": "/get_assessment",
                "title": "I have symptoms and I suspect I have Covid-19"
            },
            {
                "payload": "/tested_positive",
                "title": "I have been tested positive for Covid-19"
            },
            {
                "payload": "/ask_question",
                "title": "I have a question about Covid-19"
            }
        ]
    }
]
