[
    {
        "text": "Hi, I′m Chloe, your virtual medical assistant, I′m here to help you assess your symptoms and provide information about Covid-19"
    },
    {
        "text": "Please note that the information you′ll receive is not a medical assessment. If you are experiencing severe symptoms, seek medical attention. This service is not a substitute for consulting with your doctor. The information we supply is from publicly available sources and is subject to frequent change"
    },
    {
        "text": "How may I help you today?",
        "buttons": [
            {
                "payload": "/checkin_return",
                "title": "I want to reassess my symptoms"
            },
            {
                "payload": "/get_assessment",
                "title": "I have symptoms and I suspect I have Covid-19"
            },
            {
                "payload": "/tested_positive",
                "title": "I have been tested positive for Covid-19"
            },
            {
                "payload": "/ask_question",
                "title": "I have a question about Covid-19"
            },
            {
                "payload": "/navigate_test_locations",
                "title": "I’d like to know where to get tested"
            }
        ]
    }
]
