[
    {
        "text": "It looks like you may have recovered from Covid-19. Make sure that you continue to take steps to protect yourself and others, like staying home and wearing a mask if you absolutely have to leave your house"
    },
    {
        "text": "Do you want me to continue checking in on you everyday?"
    }
]