[
    {
        "text": "OK, let's continue"
    },
    {
        "text": "First, compared to yesterday, how do you feel?",
        "buttons": [
            {
                "payload": "/better",
                "title": "Better"
            },
            {
                "payload": "/worse",
                "title": "Worse"
            },
            {
                "payload": "/no_change",
                "title": "No change"
            }
        ]

    }
]