[
    {
        "text": "Sorry, please tell me how you feel compared to yesterday",
        "buttons": [
            {
                "payload": "/better",
                "title": "Better"
            },
            {
                "payload": "/worse",
                "title": "Worse"
            },
            {
                "payload": "/no_change",
                "title": "No change"
            }
        ]

    }
]