{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Are you experiencing any of the following symptoms:\n- Severe difficulty breathing\n- Severe chest pain\n- Having a hard time waking up\n- Feeling confused\n- Losing consciousness",
        {{ bot.confirmation_buttons() }}
    }
]
