[
    {
        "text": "Sure, I'll continue checking in on you daily"
    },
    {
        "text": "Is there anything else I can help you with?",
        "buttons": [
            {
                "payload": "/ask_question",
                "title": "I have other questions"
            },
            {
                "payload": "/done",
                "title": "No thanks"
            }
        ]
    }
]