{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "OK, I will cancel your daily check-in"
    },
    {
        "text": "If you notice any changes or get symptoms, feel free to check with me to reassess your symptoms"
    },
    {{ bot.anything_else(False,False) }}
]