[
    {
        "text": "Hello Kim, this is Chloe, and I'm checking in to see how you're doing today"
    },
    {
        "text": "Before we start, if you want to opt out and cancel the daily check-in, just let me know",
        "buttons": [
            {
                "payload": "/opt_out",
                "title": "Opt out"
            },
            {
                "payload": "/continue",
                "title": "Continue"
            }
        ]
    }
]