{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Sure, I'll continue checking in on you daily"
    },
    {
        "text": "If you want more information and recommendations, please visit [covid19.info](https://www.alberta.ca/coronavirus-info-for-albertans.aspx) or [canada.ca/vulnerable-populations](https://www.canada.ca/en/public-health/services/publications/diseases-conditions/vulnerable-populations-covid-19.html)"
    },
    {
        "text": "And if you need home assistance, you may call 211 or visit [211.ca](https://211.ca/)"
    },
    {
        "text": "I will check-in with you tomorrow around the same time"
    },
    {
        "text": "Make sure you stay well hydrated and get enough rest"
    },
    {
        "text": "You can always visit [covid19.dialogue.co](https://covid19.dialogue.co/#/info?id=common) for information, if you have questions, or if you want to assess your symptoms"
    },
    {{ bot.anything_else(False,True) }}
]