{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "You might have recovered. I invite you to stay home as much as possible and comply with social distancing rules. If you go outside, I recommend that you wear a mask"
    },
    {
        "text": "You can find more information, resources and recommendations about Covid-19 [here](https://covid19.dialogue.co/#/info?id=common)"
    },
    {{ bot.anything_else(False,False) }}
]