{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "In this case, I recommend that you don’t leave your home unless you have a doctor’s appointment, or if you need to go to the hospital"
    },
    {
        "text": "For more information about self-isolation, and to learn what you can do to protect others, visit [canada.ca](https://www.canada.ca/en/public-health/services/publications/diseases-conditions/covid-19-how-to-isolate-at-home.html)"
    },
    {
        "text": "Now, I’d like to assess your symptoms"
    },
    {
        "text": "First, are you experiencing any, or a combination of, the following symptoms: severe difficulty breathing, severe chest pain, having a hard time waking up, feeling confused or losing consciousness?"
    }
]
