{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "In this case, I suggest you monitor your condition for any changes"
    },
    {% include 'bot/common/offer_daily_ci_enrollment.jinja' %}
]