{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Although your test is positive, it looks like you’re not experiencing any significant symptoms at the moment"
    },
    {
        "text": "When have you been diagnosed?",
        "buttons": [
            {
                "payload": "/more",
                "title": "More than 14 days ago"
            },
            {
                "payload": "/less",
                "title": "Less than 14 days ago"
            }
        ]
    }
]