{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "If your symptoms worsen, you may need to go to the ER. If you need assistance, you should:\n- Contact your family doctor if possible, or\n- Call 1-867-767-9054 for assistance"
    },
    {% include 'bot/common/offer_daily_ci_enrollment.jinja' %}
]