{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Although your test is positive, it looks like you’re not experiencing any significant symptoms at the moment"
    },
    {
        "text": "Have you been diagnosed more than 14 days ago?"
    }
]