{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "Don't forget to take your temperature regularly and monitor your symptoms for any changes"
    },
    {
        "text": "At any time, you can check-in with me to monitor your symptoms"
    },
    {% include 'bot/common/home_assistance_not_has_211.jinja' %},
    {
        "text": "You can consult [your personal information package](https://covid19.dialogue.co/#/info?id=ca-nu,elevated-medical-risk)"
    },
    {{ bot.anything_else(False,False) }}
]