{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "OK, let’s see how you’re doing. I’ll assess your symptoms and provide you with customized recommendations"
    },
    {
        "text": "Since you have tested positive to the Covid-19, *you must self-isolate for at least 14 days*. It is extremely important that you follow this directive"
    },
    {
        "text": "Are you the only person in your household?"
    }
]
