[
    {
        "text": "Thanks"
    },
    {
        "text": "Do you have any pre-existing conditions that may affect your immunity?",
        "buttons": [
            {
                "payload": "/affirm",
                "title": "Yes"
            },
            {
                "payload": "/deny",
                "title": "No"
            },
            {
                "payload": "/help_preconditions",
                "title": "What are pre-existing conditions?"
            }
        ]
    }
]
