[
    {
        "text": "Don’t forget that most pharmacies and many grocery stores offer delivery services. Check with your local pharmacy or grocery store if they deliver."
    },
    {
        "text": "Your pharmacist can also provide recommendations and advice on how to relieve your symptoms and which over-the-counter medications you can safely take."
    },
    {
        "text": "If your symptoms worsen or if you have difficulty breathing, you will need to get to your nearest emergency or call 911."
    },
    {
        "text": "Please monitor your symptoms. If you need assistance, you should:\n- Contact your family doctor if possible, or\n- Call 811 for assistance"
    },
    {% include 'bot/common/offer_daily_ci_enrollment.jinja' %}
]
