[
    {
        "text": "Most pharmacies and many grocery stores offer delivery services. You can check with your local pharmacy or grocery store if they offer this service"
    },
    {
        "text": "If that’s not possible for you, you may call 211 or visit 211.ca for assistance"
    },
    {
        "text": "The 211 service can direct you to a variety of local resources for assistance with food, health, or community services"
    },
    {
        "text": "Your pharmacist can also provide recommendations and advice on how to relieve your symptoms and which over-the-counter medications you can safely take"
    },
    {
        "text": "If your symptoms worsen or if you have difficulty breathing, you will need to get to your nearest emergency or call 911"
    },
    {
        "text": "Please monitor your symptoms. If you need assistance, you should:\n- Contact your family doctor if possible, or\n- Call 811 or 1-877-644-4545 for assistance"
    },
    {% include 'bot/common/offer_daily_ci_enrollment.jinja' %}
]
